In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('profiles.csv')

In [4]:
df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [5]:
#remove nans
df.isna().any()

age            False
body_type       True
diet            True
drinks          True
drugs           True
education       True
essay0          True
essay1          True
essay2          True
essay3          True
essay4          True
essay5          True
essay6          True
essay7          True
essay8          True
essay9          True
ethnicity       True
height          True
income         False
job             True
last_online    False
location       False
offspring       True
orientation    False
pets            True
religion        True
sex            False
sign            True
smokes          True
speaks          True
status         False
dtype: bool

In [6]:
df.fillna({'age':0,
           'body_type':0,
           'diet':0,
           'drugs':0,
           'education':0,
           'essay1':0,
          'essay2':0,
          'essay3':0,
          'essay4':0,
          'essay5':0,
          'essay6':0,
          'essay7':0,
          'essay8':0,
          'essay9':0,
          'ethnicity':0,
          'height':0,
          'job':0,
          'offspring':0,
          'sign':0,
          'pets':0,
          'religion':0,
          'smokes':0,
           'speaks':0,
           'drinks':0,
          'essay0':0},
          inplace=True)

In [7]:
df.isna().any()

age            False
body_type      False
diet           False
drinks         False
drugs          False
education      False
essay0         False
essay1         False
essay2         False
essay3         False
essay4         False
essay5         False
essay6         False
essay7         False
essay8         False
essay9         False
ethnicity      False
height         False
income         False
job            False
last_online    False
location       False
offspring      False
orientation    False
pets           False
religion       False
sex            False
sign           False
smokes         False
speaks         False
status         False
dtype: bool

In [8]:
drink_map = {"not at all": 0, "rarely": 1, "socially": 2, "often": 3, "very often": 4, "desperately": 5}

df["drinks_num"] = df.drinks.map(drink_map)

In [11]:
essays = ['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9']

punctuations = ["!", "?", ",", ".", ":", "'",]
#Need help finding a more effiecient method to clean essays and split words into indiv strings
for essay in essays:
    for punctuation in punctuations:
        df[essay] = df[essay].apply(lambda x: str(x).replace(punctuation, ""))
    df[essay] = df[essay].apply(lambda x: x.lower().split(' '))
    
import timeit

start = timeit.default_timer()


stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  2.8296999971644254e-05

In [ ]:
print(df['essay0'][0])

In [ ]:
introvert_words = ['shy', 'deep talks', 'small talk', 'introverted', 'stay inside', 'libiary', 'write', 'journal', 'stay in']
possible_intro = []

In [ ]:
#create labels

In [ ]:
#train model

In [ ]:
#find accuracy recall etc.